<h2><%= current_user.email %></h2>
<% @questions.each do |q| %>
<a href="/answers/new?target_id=<%= q[:id]%>"><p><%= q[:email]  %> > <%= q[:question] %></p></a>
<% end %>
<%= link_to "create question", {:controller => "questions", :action => "new"}, method: :get  %>
<%= link_to "logout", destroy_user_session_path, method: :delete  %>
