<h1>Questions#new</h1>
<%= form_for @question, url: {:controller => "questions", :action => "create"}, method: "Post" do |f|%>
<p><%= f.label :question %> : <%= f.text_area :question %></p>
<%= select :user_id, :select, @user_id_list %>
<p><%= f.submit value: "send" %></p>
<% end %>
<%= link_to "home", {:controller => "questions", :action => "index"}, method: :get  %>
